/* button-styles.css */

.shadow-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.shadow-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
